<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/board/boardCreate">
        <label>제목입력</label>
        <br>
        <input type="text" name="title" placeholder="제목을 입력해주세요"required="required"/>
        <label>작성자</label>
        <span th:text="${accountContext.username}"/>
        <br>
        <label for="content">내용입력</label>
        <br>
        <textarea id="content" name="content" placeholder="내용을 작성하여 주세요" cols="100" rows="100" style="resize: vertical" required="required">
        </textarea>
        <button type="button"><a href="/board/post"> 파일 업로드</a></button>
        <button type="submit">전송</button>
    </form>
</body>
</html>